SECRET_KEY=django-insecure-q!yx6l%o*0xj8)qe2hx&9rnecn&3j$@kn!46+)j@6@)k-iylu5
DEBUG=1
ALLOWED_HOSTS= localhost 127.0.0.1 [::1] 162.55.176.52 
DB_NAME=biomedical
DB_USERNAME=biomedicaldbadmin
DB_PASSWORD=DbAdM1n@123#
DB_HOSTNAME=localhost
DB_PORT=5432


