SECRET_KEY=django-insecure-q!yx6l%o*0xj8)qe2hx&9rnecn&3j$@kn!46+)j@6@)k-iylu5
DEBUG=1
ALLOWED_HOSTS= localhost 127.0.0.1 [::1] .vercel.app .now.sh
DB_NAME=biomedical
DB_USERNAME=prakash
DB_PASSWORD=adminadmin
DB_HOSTNAME=localhost
DB_PORT=5432


