{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'dashboard/assets/css/lib/calendar2/semantic.ui.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/lib/calendar2/pignose.calendar.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/lib/chartist/chartist.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/lib/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/lib/themify-icons.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/lib/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/css/lib/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/css/lib/weather-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'dashboard/assets/css/lib/menubar/sidebar.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/lib/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/lib/helper.css' %}" rel="stylesheet">
    <link href="{% static 'dashboard/assets/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Dashboard</a>
    </nav>

    <div class="container-fluid p-2 m-4">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <ul class="list-group">
                    <li class="list-group-item active" aria-current="true" id="uploadstudent">Upload Student</li>
                    <li class="list-group-item " id="uploadfaculty">Upload Faculty</li>
                </ul>
            </div>
            <div class="col-sm-12 col-md-8">
                <div id="uploadform" >
                    <form id="student-upload-form" method="post" enctype="multipart/form-data" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group mr-3 mb-2">
                            <label for="file" class="mr-2">Upload Excel file:</label>
                            <input type="file" name="file" id="file" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Upload</button>
                    </form>
                    <div id="message"></div>
                </div>

                <div id="facultyuploadform" >
                    <form id="faculty-upload-form" method="post" enctype="multipart/form-data" class="form-inline">
                        {% csrf_token %}
                        <div class="form-group mr-3 mb-2">
                            <label for="file" class="mr-2">Upload Excel file:</label>
                            <input type="file" name="file" id="file" class="form-control" required>
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Upload</button>
                    </form>
                    <div id="message2"></div>
                </div>


            </div>
        </div>
    </div>


   <script src="{% static 'dashboard/assets/js/lib/jquery.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/jquery.nanoscroller.min.js' %}"></script>
    <!-- nano scroller -->
    <script src="{% static 'dashboard/assets/js/lib/menubar/sidebar.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/preloader/pace.min.js' %}"></script>
    <!-- sidebar -->

    <!-- bootstrap -->

    <script src="{% static 'dashboard/assets/js/lib/calendar-2/moment.latest.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'dashboard/assets/js/lib/calendar-2/semantic.ui.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'dashboard/assets/js/lib/calendar-2/prism.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'dashboard/assets/js/lib/calendar-2/pignose.calendar.min.js' %}"></script>
    <!-- scripit init-->
    <script src="{% static 'dashboard/assets/js/lib/calendar-2/pignose.init.js' %}"></script>
    <!-- scripit init-->


    <script src="{% static 'dashboard/assets/js/lib/weather/jquery.simpleWeather.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/weather/weather-init.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/circle-progress/circle-progress-init.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/chartist/chartist.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/chartist/chartist-init.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/sparklinechart/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/sparklinechart/sparkline.init.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/owl-carousel/owl.carousel.min.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/lib/owl-carousel/owl.carousel-init.js' %}"></script>
    <script src="{% static 'dashboard/assets/js/scripts.js' %}"></script>
    <script src="{% static 'dashboard/custom.js' %}"></script>
</body>

</html>