{% extends "base.html" %}

{% block enquiryblock %}

 <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">Enquiry Form</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                            <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

    <div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Enquiry Form</h6>
            <h1 class="mb-5">FILL THE ENQUIRY FORM IF YOU HAVE ANY QUERIES</h1>
        </div>
        <div class="row g-4 justify-content-center">

            <div class="col-lg-12 col-md-12 COL-SM-12 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="custom-mediapdf" ng-app="myApp" ng-controller="bioController">
            <!-- Bootstrap toast -->
            <div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
              <div class="toast" style="position: absolute; top: 0; right: 0;" data-autohide="false">
                <div class="toast-header">
                  <strong class="mr-auto text-primary">success</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
                </div>
                <div class="toast-body">
                  We have got your Message. Thank You!
                </div>
              </div>
            </div>
            
            <form id="messageForm" method="POST" class="appointment-form ftco-animate" ng-submit="postMessage(newData)">
              {% csrf_token %}
              <div class="row">
                <div class="col-6 mb-3">
                  <input type="text" class="form-control" placeholder="Your Name" ng-model="newData.full_name" name="full_name">
                </div>
                <div class="col-6 mb-3">
                  <input type="email" class="form-control" placeholder="Your Email" ng-model="newData.email" name="email">
                </div>
                <div class="col-6 mb-3">
                  <input type="text" class="form-control" placeholder="Phone Number" ng-model="newData.phone_number" name="phone_number">
                </div>
                <div class="col-12 mb-3">
                  <input type="text" class="form-control" placeholder="Subject" ng-model="newData.subject" name="subject">
                </div>
                <div class="col-12 mb-3">
                  <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message" ng-model="newData.message" name="message"></textarea>
                </div>
                <div class="col-12">
                  <input type="submit" value="Send Message" class="btn btn-primary">
                </div>
              </div>
            </form>
          </div>
            </div>

        </div>
    </div>
</div>


{% endblock%}