{% extends "base.html" %}

{% block newsblock %}
 <!-- Header Start -->
    <div class="container-fluid bg-primary py-5 mb-5 page-header">
        <div class="container py-5">
            <div class="row justify-content-center">
                <div class="col-lg-10 text-center">
                    <h1 class="display-3 text-white animated slideInDown">News</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
                            <!-- <li class="breadcrumb-item"><a class="text-white" href="#">Pages</a></li> -->
                            <li class="breadcrumb-item text-white active" aria-current="page">News</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->

<!-- News Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h6 class="section-title bg-white text-center text-primary px-3">News And Events</h6>
      <h1 class="mb-5">Latest news and Events from our College</h1>
    </div>
    <div class="row g-4 justify-content-center">
      {% for event in events %}
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="card mb-3 border-0 shadow-sm h-100">
          {% if event.photo %}
          <img src="{{event.photo.url}}" class="card-img-top news-image-home" alt="{{event.title}}">
          {% endif %}
          <div class="card-body d-flex flex-column">
            <h5 class="card-title flex-grow-1"><a href="/news/{{event.slug}}/" >{{event.title|upper}}</a></h5>
            <!-- <a href="/news/{{event.slug}}/" class="btn btn-primary btn-sm align-self-start">Read More</a> -->
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- News End -->

{% endblock%}